# **GUIDE: Python/Pandas (Most Used Functios)**
### Data Analytics: Cheat Sheet
By Hector Melendez <br>
LinkedIn: https://www.linkedin.com/in/melendezriverahector/

# A. Import Packages

In [ ]:
import pandas as pd   # Available through Anaconda

---
# B. Load/Read File (Dataframe)

If needed specific sheet within file, add the name as secondary paramenter:<br>
_pd.read_excel('File_Name.xlxs', 'Sheet_Name')_

### B.1 Read Excel File
See docs: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [ ]:
dataframe = pd.read_excel('File_Name.xlsx')

### B.2 Read CSV File
See docs: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html?highlight=read_#pandas.read_csv

In [ ]:
dataframe = pd.read_csv('File_Name.csv)

### B.3 Read JSON File

In [ ]:
dataframe = pd.read_json('File_Name.json')

### B.4 Read SQL File

In [ ]:
dataframe = pd.read_sql('File_Name.sql')

---
# C. Reading Dataframe
If you need more rows pass the amount inside **.head(AMOUNT)**  or **.tail(AMOUNT)**

### C.1 Read Top 5 Rows

In [ ]:
dataframe.head()

### C.2 Read Bottom 5 Rows

In [ ]:
dataframe.tail()

### C.3 Show Columns and Data Types

In [ ]:
dataframe.columns  # All columns

In [ ]:
dataframe.dtypes   # All data types

---
# D. Summary Statistics (Understading The Data)

It shows some descriptive statistics of the entire dataframe.<br><br>

For **numeric data**, the result’s index will include _count, mean, std, min, max_ as well as _lower, 50 and upper percentiles._<br>
For **non-numeric data** (e.g. strings or timestamps), the result’s index will include _count, unique, top, and freq_.

### D.1 Describe (Summary)

In [ ]:
# Summarize numeric data only

dataframe.describe()

In [ ]:
# Summarize non-numeric data only

dataframe.describe(include='object')

---
# E. Filtering

To filter or get a specific columns just call the **exact name** of the column.<br>
That's the importance of good naming conventions.

### E.1 Filtering Columns

In [ ]:
dataframe.ride_id          # Get ride_id column

In [ ]:
dataframe.member_casual    # Get member_casual column

In [ ]:
# If you have columns with white space on the name, use this:
dataframe['Example Colum']

### E.2 Filtering Multiple Columns

In [ ]:
dataframe[['ride_id', 'member_casual']]

### E.3 Filtering Uniques

In [ ]:
dataframe.ride_id.unique()   # Only show uniques (no duplicated) values in a column

### E.4 Filtering Rows

In [ ]:
# Filter rows that only has 'HQ QR'

dataframe[dataframe.start_station_name == 'HQ QR']

### E.5 Filtering Multiple Rows With Condition Formating

In [ ]:
# Filter rows that has 'HQ QR' & 'member' on selected columns

dataframe[(dataframe.start_station_name == 'HQ QR') & (dataframe.member_casual == 'member')]

---
# F. Indexing

### F.1 Indexing with iloc
**iloc** will enable to select a specific row, range of rows or list of frows using the index ID (integer)<br>
See Docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc

In [ ]:
dataframe.iloc[15]      # Shows all data from row 14

In [ ]:
dataframe.iloc[15, 0]   # Shows data on row 14 and column 0

In [ ]:
dataframe.iloc[15:20]   # Getting a range of specific rows

### F.2 Indexing with loc
**loc** will enable to index by user keyword, and not integers.

In [ ]:
# Create a copy of all data into a new variable.
# We will make rideable_type our index, then we filter it with loc

rideable_type = dataframe.copy()
rideable_type.set_index('rideable_type', inplace=True)

In [ ]:
rideable_type.head()

---
# G. Update Dataframe

### G.1 Drop Missing Data
See docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop

In [ ]:
# Check for nulls on the dataframe first:
dataframe.isnull().sum()

In [ ]:
# Drop all the rows that has missing values:
dataframe.dropna(inplace=True)

### G.2 Drop Columns

In [ ]:
# axis=1 means COLUMN, axis=0 means ROW

dataframe.drop('name_of_column', axis=1)

### G.2 Drop Duplicates

In [ ]:
# Removes duplicate rows based on all columns
dataframe.drop_duplicates()

In [ ]:
#To remove duplicates on specific column(s), use subset.
dataframe.drop_duplicates(subset=['column_name'])

### G.3 Creating Columns (Sum)

In [ ]:
# Create new column summing: start_lat + end_lat

dataframe['new_column'] = dataframe.start_lat + dataframe.end_lat
dataframe.head()

### G.4 Merge Columns

In [ ]:
dataframe.merge(second_dataframe, left_on='lkey', right_on='rkey')

### G.5 Merge Multiple Dataframes (Ex: Multiple CSV, Excels)

Merge columns with other DataFrame either on index or on a key column.<br>
Efficiently merge multiple DataFrame objects by index at once by **passing a list**.<br>
See documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html?highlight=merge#pandas.DataFrame.merge

#### Join Two Dataframes

See documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html#pandas.DataFrame.join

In [ ]:
dataframe.join(second_dataframe, lsuffix='chage_index', rsuffix='change_index')  # Join using the index (left join on default)

#### Join List of Dataframes

In [ ]:
df.join(list_of_dataframes.set_index('key'), on='key') # Save list into a new variable (easy to manipulate)

### G.6 Update An Entire Column Value

In [ ]:
dataframe.column_name = 100  # Update all colum values to 100
dataframe.head()

### G.7 Update An Single Column Value

In [ ]:
# Change a single column value: [0, -1] --> row id, column id (last column)

dataframe.iloc[0, -1] = 500  # Update a single column to 500
dataframe.head()

### G.8 Rename Single & Multiple Column Name

In [ ]:
dataframe.rename(columns={"A": "a", "B": "c"})

### G.9 Rename Values on Rows
**Conditions:**<br>
If the name is equal to ‘Bill,’ then assign the value of ‘Match’

In [ ]:
dataframe.loc[dataframe['column_a'] == 'Bill', 'column_a'] = 'Match'

### G.10 Move Columns (Re-Organize)

In [ ]:
dataframe = dataframe[['A', 'B', 'C']] # Example: dataframe = dataframe[['C', 'B', 'A']]

---
# H. Delete / Output

#### H.1 Output To Excel
See docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

In [ ]:
dataframe.to_excel('Name_Of_File.xls')

#### H.2 Output To CSV
See docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html?highlight=to_#pandas.DataFrame.to_csv

In [ ]:
dataframe.to_csv('Name_Of_File.csv')

#### H.3 Output To HTML

In [ ]:
dataframe.to_html('Name_Of_File.csv')

#### H.4 Output To JSON

In [ ]:
dataframe.to_json('Name_Of_File.csv')

#### H.5 Delete Dataframe

In [ ]:
del dataframe